{% extends 'web/base.html' %}
{% load static %}
{% block meta %}
    <meta name="keywords" content="Limra, UAE, Dubai, international trade, import, export, FMCG, high-quality, wholesale, retail, personal care, food, beverages, cleaning products, baby care, distribution, reliability, efficiency, brands.">
    <meta name="title" content="Limra: Your Trusted Partner for High-Quality FMCG Goods | UAE-Dubai" />
    <meta name="description" content="Limra, headquartered in UAE-Dubai, is a leading player in international trade, specializing in high-quality FMCG goods. With a commitment to excellence, we provide unparalleled solutions and a wide range of products from renowned brands worldwide. Explore our wholesale and retail offerings in personal care, food, beverages, cleaning products, baby care, and more, backed by a reliable distribution network and dedicated service." />
    <link rel="canonical" href="http://limramerchandise.com/about/" />
{% endblock meta %}
{% block content %}

<!-- Breadcrumb area start -->
<section class="breadcrumb__area">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="breadcrumb__inner">
          <div class="breadcrumb__left">
            <h2 class="breadcrumb__title h1">About US</h2>
          </div>
          <div class="breadcrumb__right">
            <ul>
              <li> <a href="{% url 'web:index' %}">home</a> </li>
              <li> <a href="#">about</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb area end -->


<!-- About area start -->
<section class="about__area-6 pt-80 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-xl-6 col-md-6">
        <div class="about__imgs-6">
          <div class="image-1">
            <img class="border-radius-20" src="/static/web/imgs/about/6/1.jpg" alt="Leading Import-Export Solutions Provider for FMCG Goods" data-lag="0.2">
          </div>
          <div class="image-2">
            <img class="border-radius-20" src="/static/web/imgs/about/6/2.jpg" alt="Leading Import-Export Solutions Provider for FMCG Goods" data-lag="0.2">
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-xl-6 col-md-6">
        <div class="about__content-6">
          <h2 class="sec-subtitle-2 heading-animation">ABOUT US </h2>
          <h1 class="sec-title heading-animation h3">Innovative solutions for a digital world</h1>
          <div class="p-animation">
            <p class="mb-2 pb-0">
              Headquartered in the vibrant business hub of UAE-
              Dubai, is a dynamic and forward-thinking entity dedicated to excellence in international
              trade (Import and export) with a specialized focus on Fast-Moving Consumer Goods (FMCG) and
              Established with a vision to provide unparalleled solutions. Limra has emerged as a key
              player in the global market with wide range of high quality FMCG goods to Africa, Asia and
              the Middle East. The Company supplies products from all over the world including Malaysia,
              Indonesia, China, India, Philippines, Europe and the USA.
            </p>
            <p>
              In 2017, our journey has been
              marked by a commitment to delivering high-quality FMCG products and unparalleled service.
              With a dynamic team of industry experts and a strong team on distribution network, we have
              successfully built a reputation for reliability, efficiency, and the ability to meet the
              diverse needs of our clients. We engage in wholesale and retail of Personal Care, Food and
              Beverages, Cleaning products, Baby & Child Care and Paper Products. We cover almost all
              major cities in UAE through our Distribution Network. We work together with distinguished
              brands, both locally and internationally, to ensure our customers have access to a wide
              range of high-quality products that cater to their choice and requirements.
            </p>
          </div>
       
        </div>
      </div>
    </div>
  </div>

  <img src="/static/web/imgs/shape/6.png" alt="Leading Import-Export Solutions Provider for FMCG Goods" class="shape">
</section>
<!-- About area end -->

<!-- Who we are area start -->
<section class="who__area-6 pt-0 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xxl-5 col-xl-5 col-lg-6">
        <div class="who__left">
          <div class="sec-title-wrap">
            <h2 class="sec-subtitle-2 heading-animation">who we are </h2>
            <h3 class="sec-title underline-2 heading-animation">Transforming ideas <br> into reality</h3>
          </div>
          <div class="who__features">
            <div class="who__feature">
              <div class="number">
                <span class="color-base">01</span>
              </div>
              <div class="who__content">
                <h4 class="title">Creative Craze</h4>
                <p>Health and medical is a encompasses a wide
                  range of topics related to health</p>
              </div>
            </div>
            <div class="who__feature">
              <div class="number">
                <span class="color-base">02</span>
              </div>
              <div class="who__content">
                <h4 class="title">Creative Craze</h4>
                <p>Health and medical is a encompasses a wide
                  range of topics related to health</p>
              </div>
            </div>
            <div class="who__feature">
              <div class="number">
                <span class="color-base">03</span>
              </div>
              <div class="who__content">
                <h4 class="title">Creative Craze</h4>
                <p>Health and medical is a encompasses a wide
                  range of topics related to health</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-7 col-xl-7 col-lg-6">
        <div class="who__right">
          <div class="main-img">
            <img src="/static/web/imgs/who/6/1.png" alt="Leading Import-Export Solutions Provider for FMCG Goods">
          </div>

          <div class="who__project">
            <div class="project-completed">
              <img src="/static/web/imgs/who/6/hand.png" alt="Leading Import-Export Solutions Provider for FMCG Goods">
              <h3 class="total counter_fast">20k+</h3>
              <p>Peoples Impacted</p>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Who we are area end -->


{% endblock %}