{% extends 'web/base.html' %}
{% load static %}
{% block meta %}
    <meta name="keywords" content="Limra, UAE, Dubai, international trade, import, export, FMCG, high-quality, wholesale, retail, personal care, food, beverages, cleaning products, baby care, distribution, reliability, efficiency, brands.">
    <meta name="title" content="Limra: Your Trusted Partner for High-Quality FMCG Goods | UAE-Dubai" />
    <meta name="description" content="Limra, headquartered in UAE-Dubai, is a leading player in international trade, specializing in high-quality FMCG goods. With a commitment to excellence, we provide unparalleled solutions and a wide range of products from renowned brands worldwide. Explore our wholesale and retail offerings in personal care, food, beverages, cleaning products, baby care, and more, backed by a reliable distribution network and dedicated service." />
    <link rel="canonical" href="http://limramerchandise.com/business_lines/" />
{% endblock meta %}
{% block content %}

<!-- Breadcrumb area start -->
<section class="breadcrumb__area">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="breadcrumb__inner">
          <div class="breadcrumb__left">
            <h2 class="breadcrumb__title h1">Business Lines</h2>
          </div>
          <div class="breadcrumb__right">
            <ul>
              <li> <a href="{% url 'web:index' %}">home</a> </li>
              <li> <a href="#">Service</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb area end -->


<!-- service area start -->
<div class="service-area pt-80 pb-130">
  <div class="container">
    <div class="pt-0 mb-5" data-aos="fade-up" data-aos-delay="500">
        <h1 class="sec-subtitle h2">Our Presence <span>Our Presence</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-intro-inner shadow">
                <div class="thumb">
                    <img class="w-100" src="/static/web/imgs/intro/5.png" alt="Expanding FMCG Distribution Network Across UAE">
                </div>
                <div class="details">
                    <h5>Personal Care</h5>
                    <span></span>
                    <p>
                        - Soap, shampoo, and conditioner <br>
                        - Toothpaste and oral care products <br>
                        - Skincare and cosmetics <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-intro-inner shadow">
                <div class="thumb">
                    <img class="w-100" src="/static/web/imgs/intro/6.png" alt="Expanding FMCG Distribution Network Across UAE">
                </div>
                <div class="details">
                    <h5>Food and Beverages</h5>
                    <span></span>
                    <p>
                        - Snack foods <br>
                        - Ready-to-eat meals <br>
                        - Beverages (soft drinks, juices, tea, coffee) <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-intro-inner shadow">
                <div class="thumb">
                    <img class="w-100" src="/static/web/imgs/intro/7.png" alt="Expanding FMCG Distribution Network Across UAE">
                </div>
                <div class="details">
                    <h5>Cleaning Products</h5>
                    <span></span>
                    <p>
                        - Detergents and laundry products <br>
                        - Cleaning agents (floor cleaners, bathroom cleaners) <br>
                        - Air fresheners <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-intro-inner shadow">
                <div class="thumb">
                    <img class="w-100" src="/static/web/imgs/intro/8.png" alt="Expanding FMCG Distribution Network Across UAE">
                </div>
                <div class="details">
                    <h5>Paper Products</h5>
                    <span></span>
                    <p>
                        - A4 & Tissues <br>
                        - Toilet paper <br>
                        - Paper towels <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-intro-inner shadow">
                <div class="thumb">
                    <img class="w-100" src="/static/web/imgs/intro/8.png" alt="Expanding FMCG Distribution Network Across UAE">
                </div>
                <div class="details">
                    <h5>Baby and Child Care</h5>
                    <span></span>
                    <p>
                        - Diapers <br>
                        - Baby food <br>
                        - Childcare products <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- service area end -->

{% endblock %}