{% extends 'web/base.html' %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="Limra, UAE, Dubai, international trade, import, export, FMCG, high-quality, wholesale, retail, personal care, food, beverages, cleaning products, baby care, distribution, reliability, efficiency, brands.">
    <meta name="title" content="Limra: Your Trusted Partner for High-Quality FMCG Goods | UAE-Dubai" />
    <meta name="description" content="Limra, headquartered in UAE-Dubai, is a leading player in international trade, specializing in high-quality FMCG goods. With a commitment to excellence, we provide unparalleled solutions and a wide range of products from renowned brands worldwide. Explore our wholesale and retail offerings in personal care, food, beverages, cleaning products, baby care, and more, backed by a reliable distribution network and dedicated service." />
    <link rel="canonical" href="http://limramerchandise.com/" />
{% endblock meta %}

{% block content %}
<!-- Hero area start -->
<section class="hero__area_1">
    <div class="hero__area_1_inner">
        <div class="hero_1_content">

            <div class="video_area" data-lag="0.3">
                <a href="https://www.youtube.com/watch?v=FYpsf0ACkmI" class="popup-link">
                    <img class="cxuSpin-slow2" src="/static/web/imgs/hero/03.png" alt="Dynamic FMCG Trading Company in UAE-Dubai."
                        style="width: 120px;">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </div>
        <div class="main-thumb text-end">
            <img class="main-img w-100" src="/static/web/imgs/hero/01.jpg" alt="Dynamic FMCG Trading Company in UAE-Dubai.">
        </div>
    </div>
</section>
<!-- Hero area end -->

<!-- Service area start -->
<section class="service__area pt-0 pb-130">
    <div class="container">
        <div class="bg-light1 border-radius-25 pt-100 px-lg-5 px-4 pb-90 pb-120">
            <div class="row pb-120">
                <div class="col-xxl-7 col-xl-7 col-xl-7">
                    <div class="service__title-wrap" data-aos="fade-up">
                        <h2 class="sec-subtitle">Group of Companies <span>LIMRA</span>
                        </h2>
                        <h1 class="sec-title heading-animation h3">Innovative solutions for <br> a digital world </h1>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-5 col-xl-5">
                    <div class="service__text p-animation pt-0">
                        <p class="ms-0">
                            LIMRA MERCHANDISE GENERAL TRADING L.L.C, headquartered in the vibrant business hub of UAE-
                            Dubai, is a dynamic and forward-thinking entity dedicated to excellence in international
                            trade (Import and export) with a specialized focus on Fast-Moving Consumer Goods (FMCG) and
                            Established with a vision to provide unparalleled solutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-inner px-lg-5 px-4">
            <div class="row pt-4">
                <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                    <div class="service__item style2">
                        <div class="service__content">
                            <div class="service__title">VISION</div>
                            <p class="p-0">To be a global leader in providing essential, high-quality consumer goods
                                that enhance everyday life. This could involve a commitment to innovation,
                                sustainability, and meeting the diverse needs of consumers while fostering a responsible
                                and ethical business approach.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                    <div class="service__item style2">
                        <div class="service__content">
                            <div class="service__title">MISSION</div>
                            <p class="p-0">
                                Empowering lives through quality and accessible fast-moving consumer goods and to be a
                                trusted partner in consistently deliver innovative products that inspire joy,
                                convenience, and well-being while fostering sustainability and create lasting value for
                                our consumers and communities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                    <div class="service__item style2">
                        <div class="service__content">
                            <div class="service__title">OUR BRAND PROMISE</div>
                            <p class="p-0">To provide innovative and diverse range of high quality products consistently
                                at the best price, meeting customer needs and providing convenience in everyday life and
                                to ensure that the customer experience is memorable and exceeds expectations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service area end -->

<!-- About area start -->
<section class="about__area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-xl-6 col-md-6">
                <div class="about__imgs" data-aos="fade-up">
                    <div class="image-1">
                        <img class="border-radius-25" src="/static/web/imgs/about/1.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                    </div>
                    <div class="image-2">
                        <img src="/static/web/imgs/about/3.png" alt="Dynamic FMCG Trading Company in UAE-Dubai" data-speed="0.85">
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-xl-6 col-md-6">
                <div class="about__content" data-aos="fade-up" data-aos-delay="500">
                    <h2 class="sec-subtitle">ABOUT US <span>About Us</span>
                    </h2>
                    <h3 class="sec-title heading-animation">LIMRA MERCHANDISE GENERAL TRADING L.L.C</h3>
                    <div class="p-animation">
                        <p class="mb-2 pb-0">
                            Headquartered in the vibrant business hub of UAE-
                            Dubai, is a dynamic and forward-thinking entity dedicated to excellence in international
                            trade (Import and export) with a specialized focus on Fast-Moving Consumer Goods (FMCG) and
                            Established with a vision to provide unparalleled solutions. Limra has emerged as a key
                            player in the global market with wide range of high quality FMCG goods to Africa, Asia and
                            the Middle East. The Company supplies products from all over the world including Malaysia,
                            Indonesia, China, India, Philippines, Europe and the USA.
                        </p>
                        <p>
                            In 2017, our journey has been
                            marked by a commitment to delivering high-quality FMCG products and unparalleled service.
                            With a dynamic team of industry experts and a strong team on distribution network, we have
                            successfully built a reputation for reliability, efficiency, and the ability to meet the
                            diverse needs of our clients. We engage in wholesale and retail of Personal Care, Food and
                            Beverages, Cleaning products, Baby & Child Care and Paper Products. We cover almost all
                            major cities in UAE through our Distribution Network. We work together with distinguished
                            brands, both locally and internationally, to ensure our customers have access to a wide
                            range of high-quality products that cater to their choice and requirements.
                        </p>
                    </div>
                    <ul data-aos="fade-up">
                        <li>BRAND POWER</li>
                        <li>DISTRIBUTION NETWORK</li>
                        <li>EXPERIENCE</li>
                        <li>STRONG WORKFORCE</li>
                    </ul>
                    <div data-aos="fade-up" data-aos-delay="300">
                        <a class="db-btn-arrow" href="{% url 'web:about' %}">Read More <i
                                class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img src="/static/web/imgs/shape/6.png" alt="Dynamic FMCG Trading Company in UAE-Dubai" class="shape">
    </div>
</section>
<!-- About area end -->

<!-- intro area start -->
<div class="intro-area bg-light1 pt-80 pb-80">
    <div class="container">
        <div class="pt-0 mb-5" data-aos="fade-up" data-aos-delay="500">
            <h2 class="sec-subtitle">Our Presence <span>Our Presence</span>
            </h2>
            <h3 class="sec-title heading-animation">BUSINESS LINES</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-intro-inner">
                    <div class="thumb">
                        <img class="w-100" src="/static/web/imgs/intro/5.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                    </div>
                    <div class="details">
                        <h5>Personal Care</h5>
                        <span></span>
                        <p>
                            - Soap, shampoo, and conditioner <br>
                            - Toothpaste and oral care products <br>
                            - Skincare and cosmetics <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-intro-inner">
                    <div class="thumb">
                        <img class="w-100" src="/static/web/imgs/intro/6.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                    </div>
                    <div class="details">
                        <h5>Food and Beverages</h5>
                        <span></span>
                        <p>
                            - Snack foods <br>
                            - Ready-to-eat meals <br>
                            - Beverages (soft drinks, juices, tea, coffee) <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-intro-inner">
                    <div class="thumb">
                        <img class="w-100" src="/static/web/imgs/intro/7.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                    </div>
                    <div class="details">
                        <h5>Cleaning Products</h5>
                        <span></span>
                        <p>
                            - Detergents and laundry products <br>
                            - Cleaning agents (floor cleaners, bathroom cleaners) <br>
                            - Air fresheners <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-intro-inner">
                    <div class="thumb">
                        <img class="w-100" src="/static/web/imgs/intro/8.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                    </div>
                    <div class="details">
                        <h5>Paper Products</h5>
                        <span></span>
                        <p>
                            - A4 & Tissues <br>
                            - Toilet paper <br>
                            - Paper towels <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-intro-inner">
                    <div class="thumb">
                        <img class="w-100" src="/static/web/imgs/intro/8.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                    </div>
                    <div class="details">
                        <h5>Baby and Child Care</h5>
                        <span></span>
                        <p>
                            - Diapers <br>
                            - Baby food <br>
                            - Childcare products <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Text Slider area start -->
<section class="textslider__area bg-white p">
    <div class="textslider__inner">
        <div class="swiper textslider__active textslider_1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="textslider__slide">
                        <h2>Unleash <span>-</span></h2>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="textslider__slide">
                        <h2>Your <span>-</span></h2>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="textslider__slide">
                        <h2>Business <span>-</span></h2>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="textslider__slide">
                        <h2>Potential <span>-</span></h2>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="textslider__slide">
                        <h2>Experience <span>-</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-light1">
    <div class="exp-area" style="background-image: url('/static/web/imgs/intro/9.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="pt-5 pb-5 about__content pt-0" data-aos="fade-up" data-aos-delay="500">
                        <h3 class="sec-title heading-animation">Chairman’s Message</h3>
                        <p class="mb-2 pb-0">
                            Dear valued customers and partners,</p>
                        <p class="mb-2 pb-0"> We are pleased to extend our heartfelt gratitude for your unwavering support in
                            making LIMRA MERCHANDISE GENERAL TRADING L.L.C a trusted name in the FMCG industry. Our commitment to
                            excellence remains steadfast, and we are dedicated to providing you with high-quality
                            products and unparalleled service.</p>
                        <p class="mb-2 pb-0">
                            As we navigate these dynamic times, your trust fuels our determination to innovate and
                            adapt. Our collaborative partnership has been instrumental in our success, and we look
                            forward to continued growth together.
                        </p>
                        <p class="mb-2 pb-0">
                            Thank you for choosing LIMRA. Your satisfaction is our priority, and we are excited about
                            the journey ahead.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- intro area end -->

<!-- Contact area start -->
<section class="contact__areas pt-80 pb-80">
    <div class="container">
        <div class="box-shadow p-xl-5 p-4 border-radius-50">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 mb-lg-0 mb-4">
                    <img class="border-radius-25" src="/static/web/imgs/intro/10.png" alt="Dynamic FMCG Trading Company in UAE-Dubai">
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 align-self-center">
                    <div class="contact__form contact__form-5 mt-0 pt-0 pb-0">
                        <div class="" data-aos="fade-up" data-aos-delay="600">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="name" placeholder="Name*" required>
                                <input type="email" name="email" placeholder="E-mail*" required>
                                <input type="text" name="subject" placeholder="subject*" required>
                                <textarea name="comments" placeholder="Comment*" required></textarea>
                                <button class="submit btn-rollover bg-base" type="submit">Submit <i
                                        class="fa-solid fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact area end -->


<!-- Blog area start -->
<section class="blog__area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="sec-title-wrap" data-aos="fade-up">
                    <h2 class="sec-subtitle">Our Blog <span>Our Blog</span>
                    </h2>
                    <h3 class="sec-title heading-animation">Checkout our Latest News </h3>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="blog__list">

                    <article class="blog__item" data-aos="fade-up" data-aos-delay="300">
                        <div class="blog__thumb mb-3">
                            <div class="shine">
                                <a href="#">
                                    <img class="border-radius-25" src="/static/web/imgs/blog/1.png" alt="Dynamic FMCG Trading Company in UAE-Dubai" style="height:300px;width:100%;object-fit:cover;">
                                </a>
                            </div>
                            <div class="date">16 <br> March </div>
                        </div>
                        <a href="#"><h4 class="blog__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officia nisi soluta similique dolores iusto?</h4></a>
                        <a class="db-btn-arrow" href="#">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </article>

                    <article class="blog__item" data-aos="fade-up" data-aos-delay="600">
                        <div class="blog__thumb mb-3">
                            <div class="shine">
                                <a href="#">
                                    <img class="border-radius-25" src="/static/web/imgs/blog/2.png" alt="Dynamic FMCG Trading Company in UAE-Dubai" style="height:300px;width:100%;object-fit:cover;">
                                </a>
                            </div>
                            <div class="date">16 <br> March </div>
                        </div>
                        <a href="#"><h4 class="blog__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officia nisi soluta similique dolores iusto?</h4></a>
                        <a class="db-btn-arrow" href="#">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </article>

                    <article class="blog__item" data-aos="fade-up" data-aos-delay="900">
                        <div class="blog__thumb mb-3">
                            <div class="shine">
                                <a href="#">
                                    <img class="border-radius-25" src="/static/web/imgs/blog/3.png" alt="Dynamic FMCG Trading Company in UAE-Dubai" style="height:300px;width:100%;object-fit:cover;">
                                </a>
                            </div>
                            <div class="date">16 <br> March </div>
                        </div>
                       <a href="#"><h4 class="blog__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum officia nisi soluta similique dolores iusto?</h4></a>
                        <a class="db-btn-arrow" href="#">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </article>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog area end -->
{% endblock %}