{% load static %}

<!-- Footer area start -->
<footer class="footer__area-4">
    <div class="footer__top-4-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="footer__top-4">
                        <h2 class="title">Get in Touch</h2>
                        <a href="#" class="db-btn-main-color-one">Schedule an Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__widgets db-bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__logo">
                        <a href="/"><img src="{% static 'web/imgs/logo/logo_white.svg' %}" alt="Footer Logo"
                                style="height: 60px;object-fit: contain;object-position: left;"></a>
                        <p>

                            LIMRA MERCHANDISE GENERAL TRADING L.L.C, based in the thriving business center of Dubai,
                            UAE, is a dynamic and innovative company specializing in international trade, with a primary
                            focus on Fast-Moving Consumer Goods (FMCG).
                        </p>
                        <div class="footer__social-4">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__address">
                        <h2 class="footer__title">Address</h2>
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-paper-plane"></i></span>
                                <p>Old city Street,Usa <br>1212 New york-3500</p>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-phone"></i></span>
                                <a href="tel:+88014420420">+88 014 420420</a>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-envelope"></i></span>
                                <a href="mailto:info@limramerchandise.com">info@limramerchandise.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__service">
                        <h2 class="footer__title">Line of Business</h2>
                        <ul>
                            <li><a href="#">Personal Care </a></li>
                            <li><a href="#">Food and Beverages</a></li>
                            <li><a href="#">Cleaning Products</a></li>
                            <li><a href="#">Paper Products</a></li>
                            <li><a href="#">Baby and Child Care</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__newsletter">
                        <div class="footer__title">Quick Links</div>
                        <ul>
                            <li><a href="#">Personal Care </a></li>
                            <li><a href="#">Food and Beverages</a></li>
                            <li><a href="#">Cleaning Products</a></li>
                            <li><a href="#">Paper Products</a></li>
                            <li><a href="#">Baby and Child Care</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div class="footer__btm">
                        <div class="footer__copyright">
                            <p>© Limra Merchandise {% now 'Y' %} | All Rights Reserved</p>
                        </div>
                        <div class="footer__menu-4">
                            <ul>
                                <li><a href="#">Privacy Policy.</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer area end -->